header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  .logo {
    font-size: 56px;
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

main {
  padding: 0 20px;
}

